{% extends 'main.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<ul>
            {%for key, value in blocks.items()%}
                <li>Блок {{key}}: {{value}}</li>
            {%endfor%}
        </ul>
        <a href="{{url_for('index')}}">назад</a>
	</div>
</div>
{% endblock %}