{% extends 'main.html' %}

{% block content %}
<form method="post" action="{{url_for('index')}}">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Имя:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Кому</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="to">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Сумма</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="sum">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
<a href="{{url_for('check')}}">Проверить последовательность</a>
{% endblock %}